<div class="container">
	<div class="row">
		<div class="col-sm-12 tagline-center">
			<h3>We Always Give a</h3>
			<h5>Smooth Moving Performance </h5>
		</div>
	</div>
</div>

<main class="main">
	<div class="main-container">
		<div class="container">
			<div class="row">
			   <div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolore inventore blanditiis. Autem aliquam itaque expedita consequuntur, vitae ea, molestias illum aperiam incidunt consectetur beatae eligendi officia quos neque, laboriosam?</p>
		          </div>
		             <div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolore inventore blanditiis. Autem aliquam itaque expedita consequuntur, vitae ea, molestias illum aperiam incidunt consectetur beatae eligendi officia quos neque, laboriosam?</p>
		          </div>
			</div>
		</div>
	</div>
</main>
	