<div class="container">
<div class="center-div">

<div class="col-md-4">
<div class="box">
<img src="img/icon/webdev-icon.png" alt="">
<br><p>Web Development</p>
</div>
</div>

<div class="col-md-4">
<div class="box">
<img src="img/icon/ecom.png" alt="">
<br><p>Ecommerce</p>
</div>
</div>

<div class="col-md-4">
<div class="box">
<img src="img/icon/graphic-icon.png" alt="">
<br><p>Graphic and Print Design</p>
</div>
</div>

<div class="col-md-12">
<div class="box">
<br>
<hr>
<h1 class  = "tagline">Creating Notable Design and Application</h1>
</div>
</div>

<div class="col-md-4">
<div class="box">
<img src="img/icon/seo.png" alt="">
<br><p>Search Engine Optimization</p>
</div>
</div>

<div class="col-md-4">
<div class="box">
<img src="img/icon/social.png" alt="">
<br><p>Social Media Marketing</p>
 <a href="" ng-controller = "MainCtrl" ng-click="openDefault()">read more</a>
</div>
</div>

<div class="col-md-4">
<div class="box">
<img src="img/icon/branding.png" alt="">
<br><p>Branding</p>
</div>
</div>

</div>
</div>


<script type="text/ng-template" id="firstDialogId">
    <div class="ngdialog-message">
        <h3>Social Media Marketing</h3>
        <p ng-show="dialogModel.message">{{dialogModel.message}}</p>
    </div>
</script>

<script type="text/ng-template" id="secondDialogId">
    <h3><a href="" ng-click="closeSecond()">Close all by click here!</a></h3>
</script>