<!-- Page Content -->
<div class="container">
    <div class="row services-header">
        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>

        <div class="col-md-4">
            <h2 class="page-header">Something More</h2>

            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips
                amets.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
            <h3>Web Development</h3>
            <p>A website is integral to any business that is looking to expand their horizons to include those that can find information at the click of their mobiles and gadgets. This is what we are here for. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Graphic Design</h3>
            <p>One picture is worth ten thousand words. – Chinese Proverb</p>
            <p>Need I say more how your graphic and print designs can cause an impact? How eye catching it is matters. The completed works speaks for itself, reeling in those who are interested, or simply, looking to please. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Ecommerce</h3>
            <p>The web has been spinning a lot of money pots for online retailers and ecommerce has been ever increasing in its demands. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Social Media Marketing</h3>
            <p>Singapore. We’re known for how fast we need our internet speed to be. To upload our lives on Facebook, Instagram, Twitter and other social media sites. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Search Engine Optimazation (SEO)</h3>
            <p>Does it faze you, just thinking about what does it mean? Here’s a short way of thinking about it – the publisher would be looking into making your site an easier find through the maze of the internet. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <h3>Branding</h3>
            <p>It can be said that every one of us has our own branding. Facebook. Getting through that interview. It’s a great skill to have. Increasing our value and worth. Prettifying our resumes. That’s what branding is. When it’s applied to business.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
