.header{
	background:#fff;
	border-bottom:none;
}
.menu{
	margin-right:90px;
	margin-top:20px;  
}
.menu li a{
	color: #000 !important;
	font-weight:bold; 
}
.logo{
	margin-left:20px;
	margin-top:20px; 
}
.center-div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: #999;
}
.box1{
	height:220px;
}
.box img{
	width:50% !important;
	height: auto; 
}